body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-source-sans-pro: "Source Sans Pro";
  
    /* font sizes */
    --font-size-lg: 18px;
    --font-size-base: 16px;
    --font-size-sm: 14px;
    --font-size-xs: 12px;
    --font-size-9xl: 28px;
    --font-size-xl: 20px;
  
    /* Colors */
    --color-whitesmoke: #f4f7f5;
    --color-white: #fff;
    --color-gainsboro: #e5e5e5;
    --color-gray-100: #1e274a;
    --color-gray-200: #182940;
    --color-gray-300: rgba(255, 255, 255, 0.95);
    --color-lightgray: #ccc;
    --color-royalblue: #2b59c3;
    --m3-sys-light-on-surface-variant: #49454f;
    --color-black: #000;
    --color-seagreen: #237131;
    --color-limegreen: #53b324;
    --color-dimgray-100: #5f5f64;
    --color-darkslateblue: #26336a;
  
    /* Gaps */
    --gap-17xl: 36px;
    --gap-3xs: 10px;
    --gap-xl: 20px;
    --gap-9xs: 4px;
    --gap-11xl: 30px;
    --gap-base: 16px;
    --gap-5xl: 24px;
    --gap-7xs: 6px;
    --gap-5xs: 8px;
    --gap-4xs: 9px;
  
    /* Paddings */
    --padding-5xl: 24px;
    --padding-base: 16px;
    --padding-2xs: 11px;
    --padding-xs: 12px;
    --padding-24xl: 43px;
    --padding-lg: 18px;
    --padding-11xl: 30px;
    --padding-17xl: 36px;
  
    /* border radiuses */
    --br-7xs: 6px;
    --br-5xs: 8px;
    --br-81xl: 100px;
    --br-11xs: 2px;
    --br-4xl-5: 23.5px;
    --br-10xs: 3px;
    --br-31xl: 50px;
  }
  